---

---

<section id="portfolio" class="border-primary-200 flex h-full flex-col justify-between border-2 pt-10 pb-10">
	<div class="mx-auto max-w-6xl text-center">
		<h3 class="h3 text-pretty uppercase">
			Enfoque terapéutico
		</h3>
	</div>
	<p lang="es" class="mt-6 text-pretty lg:text-lg text-justify hyphens-auto px-6">Mi trabajo se fundamenta en el enfoque cognitivo-conductual, integrado con herramientas de las terapias contextuales de tercera generación, especialmente la Terapia de Aceptación y Compromiso (ACT). Desde este marco, busco comprender y abordar los procesos psicológicos implicados en las dificultades actuales, atendiendo a su origen y mantenimiento y evitando la estigmatización asociada a etiquetas diagnósticas vacías.</p>
	<!-- <div class="grid gap-10 pt-8 md:grid-cols-2 md:pt-12">
		contenido de enfoque
	</div> -->
</section>
