---

---

<section id="portfolio" class="mt-12 scroll-mt-10 py-8 md:py-12">
	<div class="mx-auto max-w-6xl text-center">
		<h3 class="h3 text-pretty uppercase">
			Enfoque terapéutico
		</h3>
	</div>
	<p class="mt-6 text-pretty lg:text-lg">Mi enfoque terapéutico se basa en la escucha activa, el respeto a la experiencia individual y el fortalecimiento de los recursos personales.</p>
	<!-- <div class="grid gap-10 pt-8 md:grid-cols-2 md:pt-12">
		contenido de enfoque
	</div> -->
</section>
