---
/**
 * * Hero with background image
 * You'll want a mobile image, and a desktop image for this.
 */

import Button from "@components/Button/Button.astro";
import heroImage from "@images/IMG_5600.JPG";
import heroImageMobile from "@images/IMG_5600.JPG";
import { Image } from "astro:assets";
---

<section id="hero" class="relative z-10 flex h-[60lvh] w-full">
	<!-- background image -->
	<div class="absolute -z-10 h-full min-h-full w-full overflow-hidden">
		<div class="absolute inset-0 bg-black/10"></div>

		<Image
			src={heroImage}
			class="hidden h-auto min-h-full w-full object-cover object-bottom sm:block"
			alt="wedding"
			aria-hidden="true"
			loading="eager"
			height={1400}
			title="Paola Fanjul hero image"
		/>
		<Image
			src={heroImageMobile}
			class="h-auto min-h-full w-full object-cover sm:hidden"
			alt="wedding"
			aria-hidden="true"
			loading="eager"
			width={1200}
			title="Paola Fanjul hero image"
		/>
	</div>

	<!-- hero items -->
	<div
		id="hero-items"
		class="site-container flex h-full w-full flex-col items-center justify-center pt-20 pb-10 text-center md:px-8 md:pb-20 md:text-left"
	>
		<!-- Hero text -->
		<div class="text-base-50 mr-auto max-w-[800px] flex-col">
			<h1
				class="font-heading-1 text-4xl font-semibold text-pretty drop-shadow-[0_2px_2px_rgba(0,0,0,0.4)] md:text-7xl md:leading-tight"
			>
				Paola Fanjul Psicología
			</h1>
			<p
				class="mt-8 text-lg tracking-widest text-pretty drop-shadow-[0_1px_1px_rgba(0,0,0,0.2)] md:max-w-[750px] md:text-xl lg:max-w-[750px] lg:text-2xl"
			>
				Terapia psicológica para adultos y parejas, basada en un enfoque contextual,
				cognitivo-conductual y transdiagnóstico, centrada en tus necesidades y respetuosa con tus
				ritmos
			</p>
			<!-- <div class="mt-10 flex flex-wrap justify-center gap-4 md:justify-start">
				<Button
					variant="ghost"
					arrow="right"
					href="/#contact"
					class="pl-0 text-xl text-white drop-shadow-[0_1px_1px_rgba(0,0,0,0.2)] md:text-3xl"
				>
					Get a Quote
				</Button>
			</div> -->
		</div>
	</div>
</section>

<style>
	#hero-items {
		justify-content: center;
		padding-top: 4rem;
		padding-bottom: 2rem;
	}

	@media (min-width: 400px) {
		#hero-items {
			justify-content: center;
			padding-top: 2.5rem;
			padding-bottom: 6rem;
		}
	}

	@media (min-width: 1280px) {
		#hero-items {
			justify-content: center;
			padding-top: 2.5rem;
			padding-bottom: 10rem;
		}
	}

	@media (min-aspect-ratio: 4 / 3) and (max-height: 800px) {
		#hero-items {
			justify-content: center;
			padding-top: 5rem;
			padding-bottom: 1rem;
		}
	}

	@media (min-aspect-ratio: 2 / 1) and (max-height: 700px) {
		#hero-items {
			justify-content: flex-start;
			padding-top: 4rem;
			padding-bottom: 1rem;
		}
	}
</style>
