---
/**
 * * About section
 */

import profileImage from "@assets/images/green.png";
import { Image } from "astro:assets";
---

<section id="about" class="site-container scroll-mt-10 py-8 md:py-12">
	<div class="flex flex-col md:flex-row">
		<div class="md:w-2/3">
			<h2 class="h3 text-primary-500 text-pretty uppercase">Sobre mí</h2>
			<h3 class="h2 mt-4 text-primary-700">Paola Fanjul</h3>
			<h4 class="h4 mb-6 text-lg">Colegiada nº M-41638</h4>
			<div lang="es"class="bg-base-100 mt-8 p-8 lg:text-lg text-justify hyphens-auto">
				<p>
					Concibo la terapia psicológica como un espacio seguro de escucha, comprensión y
					aprendizaje, donde cada persona pueda sentirse aceptada y acompañada en su proceso
					particular. La definición de unos objetivos terapéuticos es el principio del trabajo
					compartido, permitiéndonos así avanzar en la dirección deseada y fomentar el bienestar, la
					estabilidad y la flexibilidad tanto en el presente como en el futuro. Como psicóloga busco
					acompañarte desde la empatía, el respeto y el rigor científico, ayudándote a comprender y
					modificar aquello que te genera malestar, siempre desde la base de tus valores personales.
				</p>
				<div class="flex w-5/6 justify-end">
					<p class="mt-4 font-heading-1 text-2xl italic text-primary-700">- Paola</p>
				</div>
			</div>
		</div>
		<div class="mr-auto max-w-md md:w-1/3 md:max-w-none">
			<div class="my-auto aspect-[3/4] w-full overflow-hidden">
				<Image
				    title="Paola Fanjul"
					src={profileImage}
					alt="Paola Fanjul"
					width={450}
					densities={[1.5, 2]}
					class="h-auto min-h-full w-full min-w-full object-cover"
				/>
			</div>
		</div>
	</div>
</section>
