---
import siteData from "@config/siteData.json";
import logo from "@images/logo-web-new.png";
import { Image } from "astro:assets";
---

<a class="primary-focus flex items-center align-middle" href="/" aria-label="Home" class="">
	<Image
		id="site-logo"
		src={logo}
		alt="Paola Fanjul Psicología - Logo"
		loading="eager"
		width={600}
		height={100}
		class="h-14 w-auto drop-shadow-md"
	/>
	<!-- <div class="font-heading-1 text-xl uppercase">{siteData.name}</div> -->
</a>

<style>
	#site-logo.scrolled {
		filter: brightness(1.2) contrast(1.1) invert(1) hue-rotate(180deg);
	}
</style>
