---
import Enfoque from "@components/Enfoque/Enfoque.astro";
import Procesos from "@components/Procesos/Procesos.astro";
---

<section id="portfolio" class="site-container mt-12 scroll-mt-10 py-8 md:py-12">
	<div class="mx-auto max-w-6xl text-center">
		<h2 class="h2 text-pretty uppercase">
			Enfoque terapéutico y procesos en los que te puedo acompañar.
		</h2>
	</div>
	<div class="grid gap-10 pt-8 md:grid-cols-2 md:pt-12">
		<Enfoque />
		<Procesos />
	</div>
</section>
