---
import Enfoque from "@components/Enfoque/Enfoque.astro";
import Procesos from "@components/Procesos/Procesos.astro";
---

<section id="procesos" class="site-container scroll-mt-10 py-8 md:py-12">
	<!-- <div class="mx-auto max-w-6xl text-center">
		<h2 class="h2 text-pretty uppercase">
			Procesos en los que te puedo acompañar y enfoque terapéutico
		</h2>
	</div> -->
	<div class="flex flex-col gap-10 md:gap-16">
		<Procesos />
		<Enfoque />
	</div>
</section>
